

/* Table of contents

1.......Main
2.......Typography
3.......Colours
  3.1...Text colours
  3.2...Background colours
4.......Page elements
  4.1...Footer
5.......Page-specific
  5.1...Homepage
  5.2...Blog

*/

/* 1. Main */

body {
  font-family: "KoHo", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  color: #E2E8E6;
  background-color: #2a2b2d;
}

/* 2. Typography */

.mont {
  font-family: "Montserrat Alternates", "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  -webkit-transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
}

a:focus, a:hover {
  color: #014c8c;
  text-decoration: none;
}

.index .card-title {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.75rem;
  text-shadow: #00000080 3px 3px 0px;
}

.blog p {
  font-size: 1.1rem;
  /*font-family: 'Quicksand', sans-serif;*/
  font-family: 'KoHo', sans-serif;
}

footer a {
  color: #a1fc93;
}

footer a:hover {
  color: #f7f598;
}

/* 3. Colours */

/* 3.1 Text colours */


.text-gradient {
  background-image: linear-gradient(to right, #a1fc93, #c9fd99, #ebff9e, #f7f598, #fae88e, #fddb83, #fece7d, #febe79, #fdb076, #fda172);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 3.2 Background colours*/

.bg-light {
  background-color: #fff;
}

.bg-dark {
  background-color: #000 !important;
}

/* 4. Page elements */

/* 4.1 Footer */

footer h5 {
  /*font-family: "Montserrat Alternates", sans-serif;*/
  color: #83868B;
  font-size: 1.1rem;
}

/* 5. Page-specific */

/* 5.1. Homepage */

@media (max-width: 767px) {
  .mont {
    font-size: 11.5vw;
  }
}

.index .card-img {
  opacity: 0.4;
  transition: all 0.2s linear;
}

.index .card:hover .card-img {
  opacity: 0.2;
}

.explore-full {
  font-family: 'Share Tech Mono';
  text-transform: uppercase;
}

.explore-full > .text-gradient {
  transition: all 0.3s ease-in-out;
}

.explore-full:hover > .text-gradient, .explore-full > .text-gradient:hover {
  margin-left: 5px;
}

/* 5.2. Blog */

.blog > .container {
  padding: 0 10%;
}

.blog p {
  font-size: 1.1rem;
  font-weight: 400;
} 

.article-footer p {
  font-size: 95%;
}

/* CARD TYPES */

/* BLOG */

.card-blog {
	background-color: #FFFFFF;
	border: 0;
}

.card-blog a {
	color: #2D2D2D;
	transition: all 0.35s linear;
}

.card-blog a:hover {
	color: #6D6D6D;
}

/* FILM */

.card-film img {
  -webkit-filter: saturate(100%) contrast(100%);
  filter: saturate(100%);
  transition: all 0.35s ease-in-out;
}

.card-film:hover img {
  opacity: 0.5;
  -webkit-filter: saturate(200%) contrast(200%);
  filter: saturate(200%);
}

.card-film > span {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  font-size: 50px;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  transition: all 300ms 0ms linear;
  padding-right: 10px;
}

.card-film:hover > span {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  transition: all 300ms 100ms linear;
}

.card-film > span > a {
  color: #FFFFFF;
  transition: all 0.35s linear;
}

.card-film > span > a:hover {
  color: #DAD7BE;
  opacity: 0.80;
}



